{
  "openapi": "3.0.4",
  "info": {
    "title": "Queue OpenAPI for fal-ai/dia-tts",
    "version": "1.0.0",
    "description": "The OpenAPI schema for the fal-ai/dia-tts queue.",
    "x-fal-metadata": {
      "endpointId": "fal-ai/dia-tts",
      "category": "text-to-speech",
      "thumbnailUrl": "https://storage.googleapis.com/fal_cdn/fal/Sound.jpg",
      "playgroundUrl": "https://fal.ai/models/fal-ai/dia-tts",
      "documentationUrl": "https://fal.ai/models/fal-ai/dia-tts/api",
      "about": "Generate"
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Fal Key"
      }
    },
    "schemas": {
      "QueueStatus": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "IN_QUEUE",
              "IN_PROGRESS",
              "COMPLETED"
            ]
          },
          "request_id": {
            "type": "string",
            "description": "The request id."
          },
          "response_url": {
            "type": "string",
            "description": "The response url."
          },
          "status_url": {
            "type": "string",
            "description": "The status url."
          },
          "cancel_url": {
            "type": "string",
            "description": "The cancel url."
          },
          "logs": {
            "type": "object",
            "description": "The logs.",
            "additionalProperties": true
          },
          "metrics": {
            "type": "object",
            "description": "The metrics.",
            "additionalProperties": true
          },
          "queue_position": {
            "type": "integer",
            "description": "The queue position."
          }
        },
        "required": [
          "status",
          "request_id"
        ]
      },
      "DiaTtsInput": {
        "properties": {
          "text": {
            "examples": [
              "[S1] Dia is an open weights text to dialogue model. [S2] You get full control over scripts and voices. [S1] Wow. Amazing. (laughs) [S2] Try it now on Fal."
            ],
            "type": "string",
            "description": "The text to be converted to speech.",
            "title": "Text"
          }
        },
        "type": "object",
        "required": [
          "text"
        ],
        "x-fal-order-properties": [
          "text"
        ],
        "title": "DiaRequest"
      },
      "DiaTtsOutput": {
        "properties": {
          "audio": {
            "examples": [
              {
                "url": "https://v3.fal.media/files/elephant/d5lORit2npFfBykcAtyUr_tmplacfh8oa.mp3"
              }
            ],
            "$ref": "#/components/schemas/File",
            "description": "The generated speech audio"
          }
        },
        "type": "object",
        "required": [
          "audio"
        ],
        "x-fal-order-properties": [
          "audio"
        ],
        "title": "DiaOutput"
      },
      "File": {
        "properties": {
          "content_type": {
            "examples": [
              "image/png"
            ],
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The mime type of the file.",
            "title": "Content Type"
          },
          "url": {
            "type": "string",
            "description": "The URL where the file can be downloaded from.",
            "title": "Url"
          },
          "file_size": {
            "examples": [
              4404019
            ],
            "anyOf": [
              {
                "type": "integer"
              },
              {
                "type": "null"
              }
            ],
            "description": "The size of the file in bytes.",
            "title": "File Size"
          },
          "file_name": {
            "examples": [
              "z9RV14K95DvU.png"
            ],
            "anyOf": [
              {
                "type": "string"
              },
              {
                "type": "null"
              }
            ],
            "description": "The name of the file. It will be auto-generated if not provided.",
            "title": "File Name"
          }
        },
        "type": "object",
        "required": [
          "url"
        ],
        "x-fal-order-properties": [
          "url",
          "content_type",
          "file_name",
          "file_size"
        ],
        "title": "File"
      }
    }
  },
  "paths": {
    "/fal-ai/dia-tts/requests/{request_id}/status": {
      "get": {
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Request ID"
            }
          },
          {
            "name": "logs",
            "in": "query",
            "required": false,
            "schema": {
              "type": "number",
              "description": "Whether to include logs (`1`) in the response or not (`0`)."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatus"
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/dia-tts/requests/{request_id}/cancel": {
      "put": {
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Request ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The request was cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Whether the request was cancelled successfully."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/dia-tts": {
      "post": {
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DiaTtsInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QueueStatus"
                }
              }
            }
          }
        }
      }
    },
    "/fal-ai/dia-tts/requests/{request_id}": {
      "get": {
        "parameters": [
          {
            "name": "request_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "description": "Request ID"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Result of the request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DiaTtsOutput"
                }
              }
            }
          }
        }
      }
    }
  },
  "servers": [
    {
      "url": "https://queue.fal.run"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ]
}
